.stylus-image {
  background-image: url(https://wpmisc.com/sites/default/files/wallpaper/sports/74928/san-jose-sharks-hd-wallpapers-74928-8343170.png);
  background-size: cover;
  min-height: 95vh;
}

.blue {
  background-color:#08535e;
  min-height: 46vh;
}

.blue-button {
  background-color: #08535e;
}

.third-row {
  color: black;
  min-height: 35vh;
}

::-webkit-scrollbar {
  display: none;
}

.map-row {
  background-image: url(https://images.unsplash.com/photo-1530053969600-caed2596d242?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);
  min-height: 50vh;
  background-size: cover;
}

.bg-dark{
  color: white!important;
  background-color: #222021!important;
}

.navbar-nav {
  flex-direction: row;
}