.stylus-image {
  background-image: url(https://wpmisc.com/sites/default/files/wallpaper/sports/74928/san-jose-sharks-hd-wallpapers-74928-8343170.png);
  background-size: cover;
  min-height: 95vh;
}

.blue {
  background-color:#08535e;
  min-height: 46vh;
}

.blue-button {
  background-color: #08535e;
}

.third-row {
  color: black;
  min-height: 40vh;
}

::-webkit-scrollbar {
  display: none;
}

.map-row {
  background-image: url(https://www.citymetric.com/sites/default/files/styles/nodeimage/public/article_2016/08/gmaps_head.png?itok=MZsYvZFq);
  min-height: 35vh;
}

.bg-dark{
  color: white!important;
  background-color: #222021!important;
}

.navbar-nav {
  flex-direction: row;
}